body{
	width: 100%; height: 100vh;
	position: relative; top: 0;
}
video{
	position: fixed; object-fit: cover;
	width: 100%; height: 100%;
	filter: brightness(0.6);
	z-index: -1;
}
menu{
    margin: 0; padding: 0;
    height: 50px; width: 100%;
    display: flex; position: fixed;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    padding-left: 30px;
}
menu > a{
	color: #fff;
	margin-right: 20px;
	padding: 8px 10px;
	font-weight: 300;
	transform: translateY(-1200px) scale(.7);
	animation: backInDown 1.5s cubic-bezier(0.49, 0, 0, 1.01) forwards;
}
menu > a:nth-child(2){ animation-delay: 0.3s; }
menu > a:nth-child(3){
    box-shadow: 0px 4px 0px 0px rgb(255 255 255 / 75%);
    animation-delay: 0.6s;
}
menu > a:nth-child(4){ animation-delay: 0.9s; }
#contenedor{
	position: absolute; top: 0;
	display: flex;
	width: 100%; height: 100%;
	z-index: 1;
}
#book, #book_info{
	width: 50%; display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	overflow: hidden;
}
#book_info h3{
	padding: 10px 20px 5px;
    background: #946e5ba6;
    cursor: pointer;
    transform: translate3d(0, 3000px, 0) scaleY(5);
    animation: bounceInUp 1s cubic-bezier(0.49, 0, 0, 1.01) 0.5s forwards;
}
input, select{
	width: 250px;
    max-width: 90%;
    height: 30px;
    text-align: center;
    text-align-last: center;
    color: #fff;
    background-color: #fff2;
    border: none;
    border-bottom: solid 1px;
    border-radius: 5px 5px 0 0;
    transform: perspective(400px) rotateX(90deg);
    animation: flipInX 1s cubic-bezier(0.49, 0, 0, 1.01) 0.5s forwards;
}
select option{
	background-color: #0009;
}
label{
	margin: 0 0 5px;
	opacity: 0;
	animation: fadeInRight 1s cubic-bezier(0.49, 0, 0, 1.01) 0.5s forwards;
}
#book_info > input[type=text]:nth-child(2), #book_info > label:nth-child(1){
	animation-delay: 0.2s;
}
#book_info > select:nth-child(5), #book_info > label:nth-child(4){
	animation-delay: 0.4s;
}
#book_info > input[type=date]:nth-child(8), #book_info > label:nth-child(7){
	animation-delay: 0.6s;
}
#book_info > select:nth-child(11), #book_info > label:nth-child(10){
	animation-delay: 0.8s;
}
#book_info > input[type=email]:nth-child(14), #book_info > label:nth-child(13){
	animation-delay: 1s;
}
#book_info > input[type=tel]:nth-child(17), #book_info > label:nth-child(16){
	animation-delay: 1.2s;
}
#book img{
	width: 300px;
}
#Capa_1-2{overflow: hidden;}
#Capa_1-2 > path{opacity: 0; animation: fadeInLeft 1s ease forwards;}
#Capa_1-2 > path:nth-child(1){ animation-delay: 0s; }
#Capa_1-2 > path:nth-child(2){ animation-delay: 0.2s; }
#Capa_1-2 > path:nth-child(3){ animation-delay: 0.4s; }
#Capa_1-2 > path:nth-child(4){ animation-delay: 0.6s; }
#Capa_1-2 > path:nth-child(5){ animation-delay: 0.8s; }
#Capa_1-2 > path:nth-child(6){ animation-delay: 1s; }
#Capa_1-2 > path:nth-child(7){ animation-delay: 1.2s; }
#Capa_1-2 > rect{
	opacity: 0; animation: fadeInRight 1s ease forwards;
	animation-delay: 1.4s;
}

#flecha{
	display: none;
	width: 50px; height: 50px;
	border-left: solid #fff 3px;
	border-bottom: solid #fff 3px;
	transform: rotate(-45deg) translateX(-35px);
	position: absolute; bottom: 130px; left: 50%;
	border-radius: 3px;
	animation: flash 2.5s cubic-bezier(0.49, 0.01, 0, 1.04) infinite;
}
#phone_menu{
	display: none; width: 40px;
	flex-direction: column;
	justify-content: center; align-items: center;
	border-radius: 7%; overflow: hidden;
}
#phone_menu > .line{
	width: 100%; height: 3px;
	background-color: #fff;
}
#phone_menu > div:nth-child(2){
	margin: 7px 0;
}

@media (max-width: 600px){
	#book, #book_info{ width: 100%;	}
	#book > svg{ width: 65%; }
	menu > a{ display: none;	}
	#phone_menu{ display: flex; }
	menu{
		margin-top: 50px;
		position: absolute;
	}
}
@media (max-width: 768px){
	menu{
		justify-content: center;
		padding-left: 0;
	}
	#contenedor{
		flex-direction: column;
		height: unset;
		justify-content: center;
		align-items: center;
	}
	#book, #book_info{
		height: 100vh;
	}
	#flecha{
		display: block;
	}
}