#hair_art{
    position: fixed;
    display: flex;
    width: 100%;
    height: 65px;
    text-align: center;
    background-color: #D79D93;
    z-index: 90;
    justify-content: center;
    align-items: center;
}
#hair_art p{
	width: 33.33%;
	font-family: 'Caveat', cursive; font-size: 22px;
	color: #eee;
}
#hair_art p a{
	color: #eee;
	transition: all 0.2s ease;
}
#hair_art p a:hover{
	color: #fff;
	font-size: 24px;
}
#hair_art p:nth-child(2){
	margin: 0; padding: 5px 0;
}
#hair_art div{
	width: 33.33%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
}
#hair_art div a img{
    width: 25px;
    margin: 0 20px;
    transition: all 0.2s ease;
}
#hair_art div a img:hover{
	width: 30px;
}
header{
	position: relative;
	height: 150px;
}
header img, header menu{
	position: absolute;
	top: 50%; transform: translateY(-50%);
}
header #logo_header{
	left: 30px;
	width: 100px;
	border-radius: 50%;
	cursor: pointer;
}
header menu{
	right: 100px;
	margin: 0; padding: 0;
}
#phone_menu_open{
	position: fixed;
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: #D79D93;
	z-index: 100;
	justify-content: center;
	align-items: center;
	transform: translateY(-100%);
	opacity: 0;
}
#phone_menu_open span{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 30px;
    color: #eee;
    font-family: 'Raleway', sans-serif;
}
#phone_menu_open a{
	font-family: 'Raleway', sans-serif;
    background-color: #eee;
    color: #D79D93;
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}
header #phone_menu{
	display: none;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}
header #phone_menu img, header #phone_menu{
	width: 30px;
	height: 100%;
}
header menu a{
    padding: 15px 30px;
    color: #eee;
    font-size: 17px;
    font-family: 'Overpass', sans-serif;
    transition: all 0.3s ease;
}
header menu a:hover{
    color: #b35a2f;
    box-shadow: 0 2px 0px 0px #b35a2f;
}
.menu_seleccionado{
	box-shadow: 0 8px 0px 0px #d79d93;
}
header menu a, #submenu a{
	color: #9e766f;
}
#header_img{
	width: 100%;
	min-height: 500px;
    object-fit: cover;
}
#submenu, #servicios, #agenda_ahora, #redes, footer{
	display: flex;
}
#submenu a, #servicios a{
	width: 33.3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.35s ease;
	position: relative;
}
#submenu a{
	height: 50vh;
	max-height: 250px;
}
#submenu a:hover{
    color: #c37500;
    font-size: 17px;
    box-shadow: 0px 7px 9px 0px rgb(0 0 0 / 12%);
    background-color: #fff;
}
#submenu a img{
	width: 50px;
    margin-bottom: 20px;
}
#submenu a span{
	text-align: center;
}
#servicios a{
	height: 100vh;
	max-height: 800px;
	overflow: hidden;
}
#servicios a div{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0018f7;
    opacity: 0.05;
    z-index: -1;
}
#servicios a img{
    position: absolute;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    z-index: -2;
    filter: brightness(0.9);
    object-fit: cover;
}
#servicios a span{
	position: absolute;
    bottom: 30px;
    font-size: 20px;
    color: #eee;
    font-family: 'Raleway', sans-serif;
    background-color: #D79D93;
    padding: 12px 0px;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
}
#agenda_ahora div{
	width: 66.6%;
	background-color: #D79D93;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#agenda_ahora div h3, #agenda_ahora div p,
footer > div h3, footer > div p{
	color: #eee;
}
#agenda_ahora div #contenedor1{
	width: 500px;
	max-width: 100%;
	padding: 30px;
}
#agenda_ahora div h3{
	font-family: 'Overpass', sans-serif;
	font-size: 45px;
	width: 100%;
	margin: 0;
}
#agenda_ahora div p{
	font-family: 'Raleway', sans-serif;
	margin: 10px 0 25px;
	text-align: justify;
}
#agenda_ahora div a{
	font-family: 'Caveat', cursive;
	background-color: #eee;
	padding: 10px 30px;
	font-size: 20px;
	color: #b47764;
}
#agenda_ahora img{
	width: 33.3%;
	object-fit: cover;
}
#redes{
	justify-content: center;
}
#redes a img{
	width: 60px;
	margin: 50px 5vw;
}
#ubicacion div{
	background-color: #D79D93;
}
#ubicacion div h3{
    margin: 0;
    text-align: center;
    color: #eee;
    padding: 20px;
    font-size: 24px;
}
footer img{
	width: 150px;
    margin: 50px 0;
}
footer > div{
	width: 33.33%;
	background-color: #D79D93;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
footer > div h3, footer > div p{
	max-width: 100%;
    width: 300px;
}
footer > div h3{
	font-family: 'Overpass', sans-serif;
	font-size: 30px;
	margin: 0;
}
footer > div p{
	font-family: 'Raleway', sans-serif;
}

/*CHATBOX*/
#chatbox{
	width: 300px !important;
}
#chatbox .chatbox-header{
	height: 130px;
	background: #fbd5d5;
	background: linear-gradient(2deg,#fbd5d5 0%, #fbf1ee 80%);
	background: -webkit-linear-gradient(2deg,#fbd5d5 0%, #fbf1ee 80%);
	background: -moz-linear-gradient(2deg,#fbd5d5 0%, #fbf1ee 80%);
}
#chatbox .chatbox-headerCircle{
	display: none;
}
#chatbox .chatbox-footer{
	background: #fbd5d5;
}
#chatbox #chatboxCloseBtn{
	color: #666;
}
#chatbox #chatboxCloseBtn:hover{
	color: #888;
}
#chatbox #chatbox-body{
	background: #dee9ed !important;
}
#chatbox .chatbox-send textarea{
	font-size: 13px;
}

@media (max-width: 635px){
	#hair_art p{
		width: 50%;
	}
	#hair_art div{
		display: none;
	}
	#servicios{
		flex-direction: column;
	}
	#servicios a{
		width: 100%;
	}
	#agenda_ahora img{
		display: none;
	}
	#agenda_ahora div{
		width: 100%;
	}
	footer{
		flex-direction: column;
	}
	footer div{
		width: 100% !important;
		padding: 30px;
	}
}
@media (max-width: 920px){
	header #phone_menu{
		display: block;
	}
	#phone_menu_open{
		display: flex;
	}
	header menu{
		display: none;
	}
}
@media (max-width: 1024px){
	footer div:first-child{
		display: none;
	}
	footer div{
		width: 50%;
		padding: 30px;
	}
}