.top{
	background-color: #292B32;
	color: White;
	width: 100%; padding: 10px;
	font-size: 14px;
	opacity: 0;
	animation: fadeInDown 1.5s cubic-bezier(0.49, 0, 0, 1.01) 0.3s forwards;
}
.top > div{
	display: flex;
	flex-direction: row;
	width: 900px;
	max-width: 100%;
	margin: auto;
}
.top a{
	color: white;
}
.top a, .top p{
	margin: 0;
	padding: 3px 10px;
	float: left;
	transition: all ease 0.3s;
}
.top .t-left{
}
.top .t-right{
	margin-left: auto;
}
.top > div > div.t-left > a{
	border-right: solid white 1px;
}
.top > div > div.t-left > a:hover{
	color: #00ffff !important;
}
.top > div > div.t-right > a{
	border: solid white 1px;
}
.top > div > div.t-right > a:nth-child(1):hover{
	color: #54a7ff !important;
}
.top > div > div.t-right > a:nth-child(2):hover{
	color: #ffcf58 !important;
}
.top > div > div.t-right > a:nth-child(3):hover{
	color: #47ffc4 !important;
}
.container{
	width: 1024px;
	max-width: 100%;
	margin: auto;
	text-align: center;
}
.full_container{
	width: 100%;
	margin: auto;
	text-align: center;
}
menu > img{
	width: 100px;
	margin: 0 auto 10px auto;
	opacity: 0;
	animation: fadeInRight 1.5s cubic-bezier(0.49, 0, 0, 1.01) 0.3s forwards;
}
menu .line1{
	border-bottom: solid black 1px;
}
menu{
    margin: 20px 0 0; padding: 0; width: 100%;
    display: flex; position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}
menu > .links{

}
menu > .links > a{
	color: #000;
	margin-right: 20px;
	padding: 8px 10px;
	font-weight: 300;
	transform: translateY(-1200px) scale(.7);
	animation: backInDown 1.5s cubic-bezier(0.49, 0, 0, 1.01) forwards;
}
menu > a:nth-child(1){ box-shadow: 0px 3px 0px 0px #000; }
menu > a:nth-child(2){ animation-delay: 0.3s; }
menu > a:nth-child(3){ animation-delay: 0.6s; }
menu > a:nth-child(4){ animation-delay: 0.9s; }

#header2 > img{
	width: 100%;
    object-fit: cover;
    height: 550px;
    box-shadow: 0px 5px 25px 0px #0004;
}
.h_footer{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120px;
}
#header2 .separador{
	width: 10%;
	border: none;
}
.h_footer div{
	width: 33.33%;
	display: flex;
	flex-direction: row;
	border: solid 2px;
    padding: 0px 30px;
    align-items: center;
}
.h_footer div h3{
	height: 100%;
}
.h_footer div p{
	margin-left: 25px;
	text-align: left;
	font-size: 14px;
}
#quienes_somos{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	overflow: hidden;
	margin-top: 30px;
}
#quienes_somos > img{
	position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: -1;
}
#quienes_somos .container{
	width: 820px;
	display: flex;
	flex-direction: row;
	border-radius: 100px 0 100px 0;
    overflow: hidden;
    box-shadow: 0px 5px 25px 0px #0004;
}
#quienes_somos .container img{
	width: 33.33%;
}
#quienes_somos .container div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 66.66%;
    background: #fafafa;
    padding: 10px 50px;
}
.q1 h2{
	margin-top: 0;
}
.q1 a, #servicios > a{
	background-color: black;
    border-radius: 10px 0 10px 0;
    border: none;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all ease 0.5s;
}
.q1 a:hover, #servicios > a:hover{
	background-color: white;
	border: solid 1px black;
	color: black;
}
.q1 a{
	padding: 7px 50px;
}
.serv{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.servicio{
	width: 20%;
	height: 500px;
	position: relative;
}
#servicios{
	margin-top: 50px;
}
#servicios h2{
	margin: 0 0 35px 0;
	font-size: 35px;
}
.servicio img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.servicio h6{
	font-size: 17px;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: white;
    background: #0005;
    padding: 20px 10px;
    margin: 0;
}
#servicios > a{
	padding: 10px 0;
    display: block;
    width: 33.3%;
    margin: 35px auto 0;x;
}
#ubicacion{
	position: relative;
	height: 600px;
	margin-top: 50px;
}
#ubicacion h2{
	margin: 0; padding: 30px;
	background: #fff5;
	font-size: 35px;
}
#ubicacion iframe{
	width: 100%; height: 100%;
	top: 0; left: 0; z-index: -1;
    position: absolute;
}


@media (max-width: 600px){
	.sm-hide{
		display: none;
	}
	.t-left{
		margin: auto;
	}
}

@media (max-width: 430px){
	#header1 .links a{
		padding: 8px 2%;
		margin-right: 0;
	}
	#header2 > div > div:nth-child(3), #header2 .separador{
		display: none;
	}
	#header2 > div > div:nth-child(1){
		width: 100%;
	}
	.h_footer{
		padding: 0 25px;
	}
	#quienes_somos .container{
		box-shadow: none;
	}
	#quienes_somos .container img{
		display: none;
	}
}













/*CHATBOX*/
#chatbox .chatbox-header{
	height: 130px;
	background: #fbd5d5;
	background: linear-gradient(2deg,#fbd5d5 0%, #fbf1ee 80%);
	background: -webkit-linear-gradient(2deg,#fbd5d5 0%, #fbf1ee 80%);
	background: -moz-linear-gradient(2deg,#fbd5d5 0%, #fbf1ee 80%);
}
#chatbox .chatbox-headerCircle{
	display: none;
}
#chatbox .chatbox-footer{
	background: #fbd5d5;
}
#chatbox #chatboxCloseBtn{
	color: #666;
}
#chatbox #chatboxCloseBtn:hover{
	color: #888;
}
#chatbox #chatbox-body{
	background: #dee9ed !important;
}
#chatbox .chatbox-send textarea{
	font-size: 13px;
}