body{
	background-color: #fff;
}
menu{
    margin: 0; padding: 0;
    height: 50px; width: 100%;
    display: flex; justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    padding-left: 30px;
}
menu > a{
    color: #456;
    margin-right: 20px;
    padding: 8px 10px;
    font-weight: 300;
    transform: translateY(-1200px) scale(.7);
    animation: backInDown 1.5s cubic-bezier(0.49, 0, 0, 1.01) forwards;
}
menu > a:nth-child(2){
	box-shadow: 0px 4px 0px 0px rgb(0 0 0 / 75%);
	animation-delay: 0.3s;
	}
menu > a:nth-child(3){ animation-delay: 0.6s; }
menu > a:nth-child(4){ animation-delay: 0.9s; }
#svg_servicios{
	width: 400px;
	max-width: 90%;
	margin: 35px 0;
}

/* Animacion SVG */
#Capa_1-2 > path{
	transform: translateY(-1200px) scale(.7);
	animation: fadeInUp 1.5s cubic-bezier(0.49, 0, 0, 1.01) forwards;
	animation-delay: 1s;
}
#Capa_1-2 > path:nth-child(3){animation-delay: 1.1s;}
#Capa_1-2 > path:nth-child(4){animation-delay: 1.2s;}
#Capa_1-2 > path:nth-child(5){animation-delay: 1.3s;}
#Capa_1-2 > path:nth-child(6){animation-delay: 1.4s;}
#Capa_1-2 > path:nth-child(7){animation-delay: 1.5s;}
#Capa_1-2 > path:nth-child(8){animation-delay: 1.6s;}
#Capa_1-2 > path:nth-child(9){animation-delay: 1.7s;}
#Capa_1-2 > path:nth-child(10){animation-delay: 1.8s;}
#Capa_1-2 > rect{
	transform: translateY(-1200px) scale(.7);
	animation: fadeInLeft 1.5s cubic-bezier(0.49, 0, 0, 1.01) forwards;
	animation-delay: 2s;
}

#svg_servicios .cls-1{
	fill: #345;
}
#contenedor_servicios{
	display: flex; width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.servicio{
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	width: 32%;
	height: 400px;
	text-align: center;
	margin: 10px;
	border: solid #456 1px;
	opacity: 0;
	animation: fadeIn 1.5s cubic-bezier(0.49, 0, 0, 1.01) forwards;
	animation-delay: 1s;
}
.servicio-img{
	width: 66.66%;
}
.servicio-info{
	width: 33.33%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.servicio-info .precio, .servicio-info .duracion{
	margin: 15px 0 0 0;
}
.precio h3, .duracion h3{
	margin: 0 0 5px 0;
	color: #456;
}
.precio p, .duracion p{
	margin: 10px 0 0 0;
}
.servicio img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    filter: brightness(1.1);
    z-index: -3;
}
.servicio .filter_white{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: -2;
	opacity: 0.07;
}
.servicio h2{
	font-size: 20px;
	background-color: #456;
	padding: 7px 15px;
	border-radius: 10px 10px 0 0;
	margin: 0;
	margin-bottom: 5px;
	color: #fff;
}
.servicio > div.precio, .servicio > div.duracion{
	max-width: 90%;
	padding: 5px 0;
}
.servicio > div.precio > h3{
	margin-top: 15px;
}
.servicio > div.duracion > p, .servicio > div.precio > p {
	margin: 7px 0 10px;
	color: #000;
	font-family: 'Raleway';
	font-weight: 300;
	font-size: 14px;
	background-color: rgb(255 255 255 / 100%);
	border-radius: 0 0 10px 10px;
	padding: 5px 0;
}
.servicio > div > h3{
	font-size: 14px;
	margin: 7px 0;
	font-family: 'raleway';
	font-weight: 400;
	color: #000;
	background-color: rgb(255 255 255 / 100%);
	padding: 5px 0px;
	border-radius: 10px 10px 0 0;
}
.servicio a{
	color: #2d3034;
	background-color: #67e3db;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
	border-radius: 0 0 10px 10px;
	font-family: 'Roboto';
	letter-spacing: 2px;
}
.indicador-tiempo, .indicador-precio{
	width: 350px;
	height: 10px;
	max-width: 100%;
	border: solid #000000 1px;
	overflow: hidden;
	position: relative;
}
.indicador-fill_1, .indicador-fill_2{
	position: absolute;
    width: 100%; height: 100%;
    transform: translateX(-100%);
    transition: all 1s ease;
}
.indicador-fill_1{
	background: #1dc392;
	background: linear-gradient(90deg,#1dc392 0%, #01cead 80%);
	background: -webkit-linear-gradient(90deg,#1dc392 0%, #01cead 80%);
	background: -moz-linear-gradient(90deg,#1dc392 0%, #01cead 80%);
	z-index: 3;
}
.indicador-fill_2{
	background: #ff7100;
	background: linear-gradient(90deg,#ff7100 0%, #ffab00 80%);
	background: -webkit-linear-gradient(90deg,#ff7100 0%, #ffab00 80%);
	background: -moz-linear-gradient(90deg,#ff7100 0%, #ffab00 80%);
	z-index: 2;
}

@media (max-width: 768px){
	#contenedor_servicios > .servicio{
		width: 50%;
	}
}
@media (max-width: 500px){
	#contenedor_servicios > .servicio{
		width: 100%;
	}
}